.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
   
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }


body { 
  background-color: rgb(1, 37, 60);

}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(126, 197, 255);

}
    
header nav ul { 
  list-style-type: none;
  display: flex;
  margin-top: 18px;
  
}

header nav ul a{ 
  color: white;
  font-family: "poppins";
  margin: 10px;
  text-decoration: none;
  text-align: center;

}

header div a { 
color: white;
font-family: "poppins";
text-decoration: none;

}

header div {
  display: flex;
  align-items: center;
  justify-content: center;

}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0 0 0 /.5), rgb( 0 0 0 /.5)), url(imagenduo.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1300px;
  height: 600px;
}

h1{ 
    font-size: 55 px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
}

.subtitulo { 
    font-size: 35 px;
    font-family: "Poppins", sans-serif;
    color: rgb(188, 199, 212);
    text-align: center;
    margin-bottom: 50px;
    display: flex;
}

.socios {
    font-family: "Poppins", sans-serif;
    background-color:rgb(5, 87, 138);
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    border-right: 500 px;
    margin-left: 600px;

}

.socios:hover {
  color: blueviolet;
  text-decoration: underline;
  
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

#fondo { 
  background-image: url(bkinicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1920px;
  height: 600px;
  margin-top: 35px;

}
.subtitulo2 { 
  font-family: "Poppins";
  font-size: 26px;
  font-weight: bold;
  color:rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 30px 5px 10px 5px;
  margin-top: 30px;
  margin-bottom: 10px;

}


.parrafo2 { 
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  color: rgb(212, 217, 121);
  text-align: center;
  text-decoration: none;
  padding: 30px 5px 10px 5px;
}

.ubicacion {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: bold;
  color: rgb(212, 217, 121);
  text-align: center;
  text-decoration: none;
  margin-top: 90px;

}

.grid-actividades {
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-template-rows: repeat(1, 300px);
  row-gap: 10px;
  column-gap: 15px;
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 70px;
} 

.actividad1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

}

.actividad2 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

}

.actividad3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;

}

.grid-actividades {
    .grid-actividad1 { 

        img {
        width: 100%;
        height: 100%;

      }
    }
}

.grid-actividades {
  .grid-actividad2 { 

      img {
      width: 100%;
      height: 100%;

    }
  }
}

.grid-actividades {
  .grid-actividad3 { 

      img {
      width: 100%;
      height: 100%;

    }
  }
}

.nuestrascanchas {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 217, 121);
    text-align: center;
    text-decoration: none;
    padding: 30px 5px 10px 5px;
    margin-bottom: 15px;

}

.nuestrasclases {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 217, 121);
    text-align: center;
    text-decoration: none;
    padding: 30px 5px 10px 5px;
    margin-bottom: 15px;
}

.nuestrostorneos {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 217, 121);
    text-align: center;
    text-decoration: none;
    padding: 30px 5px 10px 5px;
    margin-bottom: 15px;

}

iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 540px;
  align-items: center;

}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1.5px solid rgb(126, 197, 255);
    margin-top: 70px;
    padding-top: 10px;
  
  }
      
  footer nav ul { 
    list-style-type: none;
    display: flex;
    margin-top: 70px;
    
  }
  
  footer nav ul a{ 
    color: white;
    font-family: "poppins";
    margin: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;

}

h2{ 
    font-size: 30 px;
    font-weight: lighter;
    font-family:"Poppins", sans-serif;
    color: rgb(83, 146, 234);
}


.historia {
  font-size: 15px;
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  color: azure;
  text-align: center;
  background: linear-gradient(to bottom, rgb(0 0 0 /.5), rgb( 0 0 0 /.5)), url(court.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 400px;
  display: flex;
  padding: 30px 5px 10px 5px;
  align-items: center;

}

h3{ 
    font-size: 30px;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    color: rgb(107, 177, 251);
}

.parraforeserva {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: rgb(107, 177, 251);
  text-align: center;
  margin-bottom: 20px;

}

.cancha{ 
    background-color: rgb(212, 217, 121);
    color: azure;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin-left: 440px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;

}

.clase { 
  background-color: rgb(212, 217, 121);
  color: azure;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding:15px 25px 15px 25px;
  border-radius: 15px;
  margin-top: 50px;
 
}

.container-botones {
  padding-bottom: 50px;
  padding-top: 30px;
}



.card-title {
  font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    color: rgb(107, 177, 251);
}

.card-text {
  font-family: "Poppins";
    font-size: 15px;
    font-weight: light;
    color: rgb(107, 177, 251);
}

.btn-primary {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: medium;
    color: azure;
    background-color: rgb(212, 217, 121);
    border-color: rgb(212, 217, 121);
    border-width: 1px;
}

.grilla {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    color: rgb(107, 177, 251);
    text-align: center;
    margin-bottom: 20px;
 
}

.grilladehorarios {
    align-items: center;

}

h4 { 
    font-size: 30 px;
    font-family: "Poppins", sans-serif;
    color: rgb(107, 177, 251);
}

.parrafocontacto {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: rgb(107, 177, 251);
  text-align: center;
  margin-bottom: 20px;

}

.crecemosjuntos {
  font-size: 30px;
  font-family: "poppins";
  color: rgb(107, 177, 251);
  text-align: center;

}
.telefono {
  font-size: 15px;
  font-family: "poppins";
  color: azure;
  text-align: center;

}

.dirección {
  font-size: 15px;
  font-family: "poppins";
  color: azure;
  text-align: center;

}

.redes {
  font-size: 15px;
  font-family: "poppins";
  color: azure;
  text-align: center;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-template-rows: repeat(1, 300px);
  row-gap: 10px;
  column-gap: 15px;
}

.grid-container .grid-item {
  font-size: 18px;
  border: 1px;
  border-radius: 15px;
  border-style: double;
  border-color: blueviolet;
  padding: 5px;
  
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

}

.item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

}

.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;

}

.grid-container {
    .grid-item1 { 

        img {
        width: 100%;
        height: 100%;

      }
    }
}

.grid-container {
  .grid-item2 { 

      img {
      width: 100%;
      height: 100%;

    }
  }
}

.grid-container {
  .grid-item3 { 

      img {
      width: 100%;
      height: 100%;

    }
  }
}